app/CloudCalculusCalculator.Tests/obj/project.nuget.cache
app/CloudCalculusCalculator.Tests/obj/project.assets.json
app/CloudCalculusCalculator.Tests/obj/Debug/net8.0/CloudCalculusCalculator.Tests.GeneratedMSBuildEditorConfig.editorconfig
app/CloudCalculusCalculator.Tests/obj/Debug/net8.0/CloudCalculusCalculator.Tests.csproj.AssemblyReference.cache
app/CloudCalculusCalculator.Tests/obj/Debug/net8.0/CloudCalculusCalculator.Tests.assets.cache
app/CloudCalculusCalculator.Tests/obj/Debug/net8.0/CloudCalculusCalculator.Tests.AssemblyInfoInputs.cache
app/CloudCalculusCalculator.Tests/obj/Debug/net8.0/CloudCalculusCalculator.Tests.AssemblyInfo.cs
app/CloudCalculusCalculator.Tests/obj/CloudCalculusCalculator.Tests.csproj.nuget.g.props
app/CloudCalculusCalculator.Tests/obj/CloudCalculusCalculator.Tests.csproj.nuget.dgspec.json
app/CloudCalculusCalculator.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_CloudCalculusCalculator.Tests
app/CloudCalculusCalculator.Tests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_CloudCalculusCalculator.Tests
